@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

*{
    font-family: "Delicious Handrawn", cursive;
}

body{
    background-color: rgb(130, 185, 233);
    background-image: url(/bg.gif);

}

h1, #filters{
    text-align: center;
    font-size: 80px;
    margin-top: 10px;
    text-shadow: 0 0 15px #e1e1ca;
    color: #020606;
    animation: title 1s infinite;
    display:flexbox;
    justify-content: center;
}
@keyframes title {
    50%{
        text-shadow: 0 0 15px #00ffff;
    color: #ffff00;
    }
    
}

h1{
    background-color: rgb(252, 252, 251);
}

#filters input, #filters #status-filter {
    padding: 8px 16px;
    margin: 10px;
    border: 0;
    font-size: 25px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-top: 10px;
} 

.container{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;   
}

#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character-card {
    width: 200px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    
}

.character-card img{
    width: 100%;
}